@import url('https://fonts.googleapis.com/css?family=Mada|Sigmar+One');


html, body, ul, li, p, span, div, h1, h2, h3{
  font-family: sans-serif;
  font-family: 'Mada', sans-serif;

}
h1{
  font-size: 40px;
  font-family: 'Sigmar One', cursive;


}
.canvas{
  margin: 10px;
  position: relative;
  margin-top: 5%;

}
canvas{
  z-index: 300;

}
div#frame {
  position:relative;
  background-size: cover;
  overflow: hidden;

}

div#game-over{
  position: absolute;
  top: 45%;
  left: 20%;
  z-index: 500;
  width: 500px;
  height: 300px;
  vertical-align: middle;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}
.invisible {
  visibility: hidden;
}

#frame img {
  z-index: -100;
  position:absolute;
  left:0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 3s ease-in;
  -moz-transition: opacity 3s ease-in;
  -o-transition: opacity 3s ease-in;
  transition: opacity 3s ease-in;
  animation-duration: 1.5s;

}

.visible {
  opacity: 1;
}
.transparent {
opacity:0;
}

input[type=range]{
}

div.game-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
}

div.controls{
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 2.5%;
  margin-right: 3%;
  height: 100%;
  border-radius: 5px;
  width: 20%;

  /*overflow-y: scroll;*/

}


.controls, #stats-panel div{
  padding: 20px;
}

div#prey-controls, #predator-controls, #grass-controls, #game-controls{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div#stats-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 16px;
  text-transform: uppercase;
}

div.game-and-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#stats-panel div{
  color: white;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

div#prey-stats{
  background-color: rgba(243, 84, 120,  0.7);
}
div#predator-stats{
  background-color: rgba(0, 0, 0, 0.7);
}
div#grass-stats{
  background-color: rgba(159, 217, 138, 0.7);
}


#stats-panel span{
  font-size: 18px;
  font-weight: bold;
}
ul, li {
  list-style: none;
  padding: 10px;
}

div.button-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.button-bar button{
  margin: 20px;
  margin-top: 30px;
  height: 40px;
  border-radius: 5px;
  background-color: green;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  padding: 5px;
}
